<h1 class="text-center mb-5"> <%= @user.username %>'s profile</h1>
<%= gravatar_for(@user)%>

<% if logged_in? and (@user==current_user || current_user.admin ) %>
    <div class="text-center mt-4">
        <%= link_to "Edit profile",edit_user_path(@user), class:"btn btn-outline-success" %>
    </div>
<% end %>
<h1 class="text-center mb-5"> <%= @user.username %>'s articles</h1>

<div class="flickr_pagination mb-4">
    <div class="page_info">
        <%= will_paginate @articles, :container=> false %>
    </div>
</div>

<%= render 'articles/articles' %>

<div class="flickr_pagination mb-4">
    <div class="page_info">
        <%= will_paginate @articles, :container=> false%>
    </div>
</div>